<style>
    .myDiv {
      border: 5px outset  #c4f8ff;
      background-color: #c4f8ff;    
      text-align: center;

    }
    </style>
    
<div class="myDiv">
  <h1>Oli's Room</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer>
    <p>Address: Av. Benito Juárez, Santiago De Los Caballeros 51000<br>
    <p>Telephone: (809) 226-8822<br>
    <p>Schedule: <br>
    
  <li>Sunday: 12:00 – 0:00</li>      
  <li>Monday: 12:00 – 0:00</li>
  <li>Tuesday: 12:00 – 0:00</li>
  <li>Wednesday: 12:00 – 0:00</li>
  <li>Thusday: 12:00 – 0:00</li>
  <li>Friday: 12:00 – 2:00</li>
  <li>Saturday: 12:00 – 2:00</li>
</footer>
  
