<!DOCTYPE html>
<html>
<head>
<style>
table{
    border-collapse: collapse;
    width: 70%;
}

td, tr{
    border: 1px;
    text-align: left;

}

.center{
    margin-left: auto;
    margin-right: auto;
}

.centrado{
    margin-left: auto;
    margin-right: auto;

}

</style>
</head>
<body style="background-color: #FAE9E0;">
    <table class="centrado">
        <tr>
            <td> <img src="../assets/71746_243889532414604_1042541399_n.jpg" height="500" width="500"> </td>
            <td> <img src="../assets/img26-02-2016-1003868744.jpg" height="500" width="500"> </td>
        </tr>
    </table>
    <br>
    <br>
    <table class="center">
        <tr>
        <th>Entradas</th>
        <th>Precios</th>
        </tr>

        <tr>
            <td>Montaditos de chorizo</td>
            <td>RD$280</td>
        </tr>

        <tr>
            <td>Panko Shrimp</td>
            <td>RD$290</td>
        </tr>

        <tr>
            <td>Evoltini Real</td>
            <td>RD$310</td>

            <tr>
                <td>Bruchetas de Tomate y Orégano</td>
                <td>RD$110</td>
            </tr>
        
            <tr>
                <td>Dip de Berenjena y Queso</td>
                <td>RD$245</td>
            </tr>

            <tr>
                <td>Dip de Pimiento y Camarones</td>
                <td>RD$318</td>
            </tr>

            <tr>
                <td>Cristoni de Salmón</td>
                <td>RD$225</td>
            </tr>

            <tr>
                <td>Carpaccio de Res</td>
                <td>RD$345</td>
            </tr>

            <tr>
                <td>Tamporitas de pollo</td>
                <td>RD$230</td>
            </tr>

            <tr>
                <td>Empanaditas de Catibia y Queso</td>
                <td>RD$160</td>
            </tr>

            <tr>
                <td>Spicy Chicken Chips</td>
                <td>RD$275</td>
            </tr>

            <tr>
                <td>Maguro Sukei</td>
                <td>RD$325</td>
            </tr>

            <tr>
                <td>King Crab Chips</td>
                <td>RD$264</td>
            </tr>

            <tr>
                <td>Spicy Mixto Tartar</td>
                <td>RD$340</td>
            </tr>
<br>
<br>
            <tr>
                <th>Ensaladas</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Churrasco Steak Salad</td>
                <td>RD$240</td>
            </tr>
     
            <tr>
                <td>Capresa Olis</td>
                <td>RD$265</td>
            </tr>
    
            <tr>
                <td>Ensalada Paris</td>
                <td>RD$378</td>
            </tr>
    
            <tr>
                <td>Olis Salad</td>
                <td>RD$320</td>
            </tr>
    
            <tr>
                <td>Cancún Salad</td>
                <td>RD$275</td>
            </tr>
<br>
<br>
            <tr>
                <th>Oli's signature</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Salmón Rey</td>
                <td>RD$680</td>
            </tr>

            <tr>
                <td>Oli~s Melanzana</td>
                <td>RD$485</td>
            </tr>

            <tr>
                <td>Pechuga Peach</td>
                <td>RD$455</td>
            </tr>

            <tr>
                <td>Solomillo en Salsa de Espárragos</td>
                <td>RD$650</td>
            </tr>

            <tr>
                <td>Pechuga Real</td>
                <td>RD$480</td>
            </tr>

            <tr>
                <td>Filete Don Juarez</td>
                <td>RD$675</td>
            </tr>

            <tr>
                <td>Green Pechuga</td>
                <td>RD$450</td>
            </tr>

            <tr>
                <td>Filete Centenario</td>
                <td>RD$590</td>
            </tr>
<br>
<br>
            <tr>
                <th>Quesadilla</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Churrasco</td>
                <td>RD$315</td>
            </tr>
        
            <tr>
                <td>Pollo y Queso</td>
                <td>RD$255</td>
            </tr>

            <tr>
                <td>Olis</td>
                <td>RD$275</td>
            </tr>

            <tr>
                <td>Frijoles y Queso</td>
                <td>RD$250</td>
            </tr>
<br>
<br>
            <tr>
                <th>Mariscos y pescados</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Camarones Romanos</td>
                <td>RD$495</td>
            </tr>

            <tr>
                <td>Salmón al Romero</td>
                <td>RD$615</td>
            </tr>

            <tr>
                <td>Calper Salmón</td>
                <td>RD$590</td>
            </tr>

            <tr>
                <td>Mero Relleno</td>
                <td>RD$460</td>
            </tr>

            <tr>
                <td>Dorado Bretona</td>
                <td>RD$425</td>
            </tr>

            <tr>
                <td>Camarones Ginebra</td>
                <td>RD$440</td>
            </tr>

            <tr>
                <td>La Marina</td>
                <td>RD$450</td>
            </tr>
<br>
<br>
            <tr>
                <th>Pastas</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Ravioli di Palma</td>
                <td>RD$360</td>
            </tr>

            <tr>
                <td>Linguini Putanesca Tocineta</td>
                <td>RD$360</td>
            </tr>

            <tr>
                <td>Oli~s Chicken Carbonara</td>
                <td>RD$365</td>
            </tr>

            <tr>
                <td>Pasta del Chef</td>
                <td>RD$330</td>
            </tr>
<br>
<br>
            <tr>
                <th>Carnes</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Churrasco Oli~s</td>
                <td>RD$650</td>
            </tr>

            <tr>
                <td>Filete a la Pimienta</td>
                <td>RD$600</td>
            </tr>

            <tr>
                <td>Rib Eye</td>
                <td>RD$880</td>
            </tr>

            <tr>
                <td>Filete de Cerdo Grillado</td>
                <td>RD$400</td>
            </tr>

            <tr>
                <td>Escalope de Cerdo</td>
                <td>RD$460</td>
            </tr>

            <tr>
                <td>Baby Back Ribs</td>
                <td>RD$455</td>
            </tr>
<br>
<br>
            <tr>
                <th>Wraps & Crepes</th>
            </tr>

            <tr>
                <td>Crepe de camarones</td>
                <td>RD$320</td>
            </tr>

            <tr>
                <td>Crepe de 4 quesos</td>
                <td>RD$285</td>
            </tr>

            <tr>
                <td>Wrap del chef</td>
                <td>RD$430</td>
            </tr>

            <tr>
                <td>Oli~s Wrap</td>
                <td>RD$240</td>
            </tr>

            <tr>
                <td>Veggie Wrap</td>
                <td>RD$215</td>
            </tr>
<br>
<br>
            <tr>
                <th>Sandwich and burguers</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Patagonia burguer</td>
                <td>RD$395</td>
            </tr>

            <tr>
                <td>Blue burguer</td>
                <td>RD$335</td>
            </tr>

            <tr>
                <td>Churrasco california</td>
                <td>RD$325</td>
            </tr>

            <tr>
                <td>Light sandwich</td>
                <td>RD$385</td>
            </tr>

            <tr>
                <td>Oli~s Supremo</td>
                <td>RD$385</td>
            </tr>

            <tr>
                <td>Blue chicken</td>
                <td>RD$295</td>
            </tr>
<br>
<br>
            <tr>
                <th>Sushi/rollos</th>
                <th>Precios</th>
            </tr>

            <tr>
                <td>Drum roll</td>
                <td>RD$270</td>
            </tr>

            <tr>
                <td>Dominican roll</td>
                <td>RD$275</td>
            </tr>

            <tr>
                <td>Bona roll</td>
                <td>RD$310</td>
            </tr>

            <tr>
                <td>Panko roll</td>
                <td>RD$260</td>
            </tr>

            <tr>
                <td>Philadelphia</td>
                <td>RD$245</td>
            </tr>

            <tr>
                <td>California</td>
                <td>RD$210</td>
            </tr>

            <tr>
                <td>Spicy tuna</td>
                <td>RD$285</td>
            </tr>

            <tr>
                <td>Tropical roll</td>
                <td>RD$290</td>
            </tr>

            <tr>
                <td>Mexican roll</td>
                <td>RD$255</td>
            </tr>

            <tr>
                <td>Spyder roll</td>
                <td>RD$320</td>
            </tr>

            <tr>
                <td>Tekamake Salmón</td>
                <td>RD$310</td>
            </tr>

            <tr>
                <td>Tekamake Tuna</td>
                <td>RD$325</td>
            </tr>

            <tr>
                <td>Tekamake mixto</td>
                <td>RD$315</td>
            </tr>

            <tr>
                <td>Olis roll</td>
                <td>RD$325</td>
            </tr>

            <tr>
                <td>Riceless roll</td>
                <td>RD$340</td>
            </tr>

            <tr>
                <td>Bosque de Maracuyá</td>
                <td>RD$285</td>
            </tr>

            <tr>
                <td>Guiri-Guiri roll</td>
                <td>RD$270</td>
            </tr>

            <tr>
                <td>Gaga roll</td>
                <td>RD$485</td>
            </tr>

            <tr>
                <td>Veggie roll</td>
                <td>RD$196</td>
            </tr>

            <tr>
                <td>Sax roll</td>
                <td>RD$260</td>
            </tr>

            <tr>
                <td>Shrimp lover</td>
                <td>RD$290</td>
            </tr>

            <tr>
                <td>Pripri roll</td>
                <td>RD$275</td>
            </tr>

            <tr>
                <td>Fukuoka roll</td>
                <td>RD$310</td>
            </tr>

            <tr>
                <td>Quinoa roll</td>
                <td>RD$285</td>
            </tr>

    </table>
</body>

</html>